<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.codetonight.inception-watcher</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/void/CodeTonight/inception/deploy/reload-launchd.sh</string>
        <string>/Users/void/Library/LaunchAgents/com.codetonight.inception.plist</string>
        <string>com.codetonight.inception</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Users/void/Library/LaunchAgents/com.codetonight.inception.plist</string>
    </array>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
